.gallery{
    font-size: 0px;
}
.image-container{
    display: inline-block;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    background-color: #fffcec;
    box-shadow: 10px 10px 10px rgb(183, 69, 145);
}
.image-container:hover{
    transform: scale(1.1);
}
img{
    width: 200px;
    height: 100px;
}